{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Evil Chatbot Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'evils.css' %}" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="2" color="yellow">Safeguarding Against Evil Chatbots: Design, Development, and 
				Integration Strategies for Chatbot Security in Phishing Attacks </font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
			<li class="first current_page_item"><a href="{% url 'RunRandom' %}"><font size="" color="yellow">Run Random Forest </font></a></li>
			<li class="first current_page_item"><a href="{% url 'RunDT' %}"><font size="" color="yellow">Run Decision Tree</font></a></li>
				<li class="first current_page_item"><a href="{% url 'RunSVM' %}"><font size="" color="yellow">Run SVM</font></a></li>
		
		<li class="first current_page_item"><a href="{% url 'Chatbot' %}"><font size="" color="yellow">Chatbot</font></a></li>
		
		<li class="first current_page_item"><a href="{% url 'index' %}"><font size="" color="yellow">Logout</font></a></li>
		</center></ul>	<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/shutterstock_1901618698-100936241-orig-2.webp' %}" width="870" height="230" alt="" />
	</div>	
			<center>
	<h4><b>Algorithms Performance Screen</b></h4>   
			
	
		<table border="1" align="center" width="100%" >
			 
         <tr>
		 <th><font size="" color="black">Algorithm Name</th>
		 <th><font size="" color="black">Accuracy</th>
		   <th><font size="" color="black">Precision</th>
		    <th><font size="" color="black">Recall</th>
			 <th><font size="" color="black">FScore</th>
		</tr>
		 
		{{data|safe}}
</p>
</table>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>
</html>